.Modal {
  padding: 72px 112px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  // width: 580px;

  &--inner {
    border-radius: 10px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  }
}
